* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;

}
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 27px;
}
nav a{
    text-decoration: none;
    color: white;
}

.div-intro  {
    display: flex;
    align-items: center;
    
}
.div-intro a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;

}
nav li {
    padding: 15px;
    font-size: 20px;

}
div button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}
button {
    margin-top: 17px;
    border-radius: 15px;
    border: none;
    background: #4f45e3;
    color: white;
}

main {
    background-image: url(./img/img-fundo.jpg);
    background-size: cover;
    height: 100vh;
    
}

.div-h1 {
   display: flex;
   align-items: center;
   padding: 120px 165px;