* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
main{
    background-color:#444649;

}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-j-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-j-araund {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-d-column {
    flex-direction: column;
}
.box-width {
    width: 30vw;
} 
.box-height {
    height: 100vh;
}
header {
    height: 10vh;
    width: 100%;
    color: #fff;

}

header li{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #000
}
#main-content{
    background-color: rgba(0, 0, 0, 0.842);
    height: 90vh;
    background-image: block;
}
.background-black{ 
    background-image: url("./img/img-fundo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.input-container {
    background-color:#fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.input-container input {
    background-color: transparent;
    border: none;
    font-size: 15px;
  
}

.input-container input:focus {
    outline: none;
}
#contato-buttom {
    color: #fff;
    background-color:rgb(116, 31, 138);
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;

}
#more-buttom{
    color: #fff;
    background-color:rgb(116, 31, 138);
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    margin: 5px;

}
#send-buttom {
    color: #fff;
    background-color:rgb(116, 31, 138);
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    margin: 5px;
}

.form {
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    background-color: #faf9f96b;
    padding: 20px;
    border-radius: 10px;
}
 
article, p{
    color: #fff;
}
form h2{
    color: #000;
}
footer{
    background-color:#444649;
    height: 15vh;
    color: #fff;


}
footer img{
    height: 25px;
}
footer p {
    text-align: center;
}
.icons a{
    margin: 10px;
}